h1, h2, h3, h4{
	text-align: center;
}

h2 {
	color: darkcyan;
	margin: 20px;
}

div{
	box-sizing: border-box;
}

body {
	background-color: silver;
	margin: 0px;
	font-family: sans-serif;
}
header{
	background: black;
    color: white;
    width: 100%;
    height: 100px;
    padding: 10px 5px;
    z-index: 20;
    text-align: center;
    box-sizing: border-box;
}

footer{
	background: black;
	color: white;
	text-align: center;
	padding: 20px;
    margin-top: 20px;
	
}

form {
    border-color: darkcyan;
    border-width: 1px;
    border-style: solid;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
}

input[type=submit], button {
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    margin: 10px auto;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table,th,td {
    border: 1px solid black;
}

th{
    text-align: center;
    padding: 10px 0px;
    color: steelblue;
}


td {
    text-align: left;
    padding: 10px;
    vertical-align: top;
}

tr td:first-child {
    font-weight: 800;
}

.main{
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}



#loginForm{
    text-align: center;
    margin-bottom: 250px;
}

#loginForm span{
    color: red;
    margin: 5px;
}

#loginForm label{
    font-weight: 600;
}


